Filial/src/META-INF/wsdl/localhost_8080/Matriz/MatrizServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="MatrizServices">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/Matriz/MatrizServices?xsd=1"/>
</xsd:schema>
</types>
<message name="logar">
<part name="parameters" element="tns:logar"/>
</message>
<message name="logarResponse">
<part name="parameters" element="tns:logarResponse"/>
</message>
<message name="cancelarVenda">
<part name="parameters" element="tns:cancelarVenda"/>
</message>
<message name="cancelarVendaResponse">
<part name="parameters" element="tns:cancelarVendaResponse"/>
</message>
<message name="cadastrarVenda">
<part name="parameters" element="tns:cadastrarVenda"/>
</message>
<message name="cadastrarVendaResponse">
<part name="parameters" element="tns:cadastrarVendaResponse"/>
</message>
<message name="excluirCliente">
<part name="parameters" element="tns:excluirCliente"/>
</message>
<message name="excluirClienteResponse">
<part name="parameters" element="tns:excluirClienteResponse"/>
</message>
<message name="cadastrarProduto">
<part name="parameters" element="tns:cadastrarProduto"/>
</message>
<message name="cadastrarProdutoResponse">
<part name="parameters" element="tns:cadastrarProdutoResponse"/>
</message>
<message name="cadastrarCliente">
<part name="parameters" element="tns:cadastrarCliente"/>
</message>
<message name="cadastrarClienteResponse">
<part name="parameters" element="tns:cadastrarClienteResponse"/>
</message>
<message name="obterProdutosFilial">
<part name="parameters" element="tns:obterProdutosFilial"/>
</message>
<message name="obterProdutosFilialResponse">
<part name="parameters" element="tns:obterProdutosFilialResponse"/>
</message>
<message name="obterTodasVendaByIdFilial">
<part name="parameters" element="tns:obterTodasVendaByIdFilial"/>
</message>
<message name="obterTodasVendaByIdFilialResponse">
<part name="parameters" element="tns:obterTodasVendaByIdFilialResponse"/>
</message>
<message name="obterClienteByCPF">
<part name="parameters" element="tns:obterClienteByCPF"/>
</message>
<message name="obterClienteByCPFResponse">
<part name="parameters" element="tns:obterClienteByCPFResponse"/>
</message>
<message name="obterClientes">
<part name="parameters" element="tns:obterClientes"/>
</message>
<message name="obterClientesResponse">
<part name="parameters" element="tns:obterClientesResponse"/>
</message>
<portType name="MatrizServices">
<operation name="logar">
<input wsam:Action="http://Services/MatrizServices/logarRequest" message="tns:logar"/>
<output wsam:Action="http://Services/MatrizServices/logarResponse" message="tns:logarResponse"/>
</operation>
<operation name="cancelarVenda">
<input wsam:Action="http://Services/MatrizServices/cancelarVendaRequest" message="tns:cancelarVenda"/>
<output wsam:Action="http://Services/MatrizServices/cancelarVendaResponse" message="tns:cancelarVendaResponse"/>
</operation>
<operation name="cadastrarVenda">
<input wsam:Action="http://Services/MatrizServices/cadastrarVendaRequest" message="tns:cadastrarVenda"/>
<output wsam:Action="http://Services/MatrizServices/cadastrarVendaResponse" message="tns:cadastrarVendaResponse"/>
</operation>
<operation name="excluirCliente">
<input wsam:Action="http://Services/MatrizServices/excluirClienteRequest" message="tns:excluirCliente"/>
<output wsam:Action="http://Services/MatrizServices/excluirClienteResponse" message="tns:excluirClienteResponse"/>
</operation>
<operation name="cadastrarProduto">
<input wsam:Action="http://Services/MatrizServices/cadastrarProdutoRequest" message="tns:cadastrarProduto"/>
<output wsam:Action="http://Services/MatrizServices/cadastrarProdutoResponse" message="tns:cadastrarProdutoResponse"/>
</operation>
<operation name="cadastrarCliente">
<input wsam:Action="http://Services/MatrizServices/cadastrarClienteRequest" message="tns:cadastrarCliente"/>
<output wsam:Action="http://Services/MatrizServices/cadastrarClienteResponse" message="tns:cadastrarClienteResponse"/>
</operation>
<operation name="obterProdutosFilial">
<input wsam:Action="http://Services/MatrizServices/obterProdutosFilialRequest" message="tns:obterProdutosFilial"/>
<output wsam:Action="http://Services/MatrizServices/obterProdutosFilialResponse" message="tns:obterProdutosFilialResponse"/>
</operation>
<operation name="obterTodasVendaByIdFilial">
<input wsam:Action="http://Services/MatrizServices/obterTodasVendaByIdFilialRequest" message="tns:obterTodasVendaByIdFilial"/>
<output wsam:Action="http://Services/MatrizServices/obterTodasVendaByIdFilialResponse" message="tns:obterTodasVendaByIdFilialResponse"/>
</operation>
<operation name="obterClienteByCPF">
<input wsam:Action="http://Services/MatrizServices/obterClienteByCPFRequest" message="tns:obterClienteByCPF"/>
<output wsam:Action="http://Services/MatrizServices/obterClienteByCPFResponse" message="tns:obterClienteByCPFResponse"/>
</operation>
<operation name="obterClientes">
<input wsam:Action="http://Services/MatrizServices/obterClientesRequest" message="tns:obterClientes"/>
<output wsam:Action="http://Services/MatrizServices/obterClientesResponse" message="tns:obterClientesResponse"/>
</operation>
</portType>
<binding name="MatrizServicesPortBinding" type="tns:MatrizServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarVenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarVenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterProdutosFilial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterTodasVendaByIdFilial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterClienteByCPF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MatrizServices">
<port name="MatrizServicesPort" binding="tns:MatrizServicesPortBinding">
<soap:address location="http://localhost:8080/Matriz/MatrizServices"/>
</port>
</service>
</definitions>