Filial/xml-resources/web-service-references/MatrizServices/wsdl/localhost_8080/Matriz/MatrizServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="cadastrarCliente" type="tns:cadastrarCliente"/>

<xs:element name="cadastrarClienteResponse" type="tns:cadastrarClienteResponse"/>

<xs:element name="cadastrarProduto" type="tns:cadastrarProduto"/>

<xs:element name="cadastrarProdutoResponse" type="tns:cadastrarProdutoResponse"/>

<xs:element name="cadastrarVenda" type="tns:cadastrarVenda"/>

<xs:element name="cadastrarVendaResponse" type="tns:cadastrarVendaResponse"/>

<xs:element name="cancelarVenda" type="tns:cancelarVenda"/>

<xs:element name="cancelarVendaResponse" type="tns:cancelarVendaResponse"/>

<xs:element name="excluirCliente" type="tns:excluirCliente"/>

<xs:element name="excluirClienteResponse" type="tns:excluirClienteResponse"/>

<xs:element name="logar" type="tns:logar"/>

<xs:element name="logarResponse" type="tns:logarResponse"/>

<xs:element name="obterClienteByCPF" type="tns:obterClienteByCPF"/>

<xs:element name="obterClienteByCPFResponse" type="tns:obterClienteByCPFResponse"/>

<xs:element name="obterClientes" type="tns:obterClientes"/>

<xs:element name="obterClientesResponse" type="tns:obterClientesResponse"/>

<xs:element name="obterProdutosFilial" type="tns:obterProdutosFilial"/>

<xs:element name="obterProdutosFilialResponse" type="tns:obterProdutosFilialResponse"/>

<xs:element name="obterTodasVendaByIdFilial" type="tns:obterTodasVendaByIdFilial"/>

<xs:element name="obterTodasVendaByIdFilialResponse" type="tns:obterTodasVendaByIdFilialResponse"/>

<xs:complexType name="excluirCliente">
<xs:sequence>
<xs:element name="idCliente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarCliente">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="CPF" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obterClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterTodasVendaByIdFilial">
<xs:sequence>
<xs:element name="idFilial" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterTodasVendaByIdFilialResponse">
<xs:sequence>
<xs:element name="return" type="tns:venda" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="venda">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="dataEHora" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="itens" type="tns:itemVenda" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="tns:statusVENDA" minOccurs="0"/>
<xs:element name="totalBruto" type="xs:double" minOccurs="0"/>
<xs:element name="totalLiquido" type="xs:double" minOccurs="0"/>
<xs:element name="troco" type="xs:double" minOccurs="0"/>
<xs:element name="valorPago" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemVenda">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="item" type="tns:produto" minOccurs="0"/>
<xs:element name="qtd" type="xs:int" minOccurs="0"/>
<xs:element name="total" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="produto">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarVenda">
<xs:sequence>
<xs:element name="venda" type="tns:venda" minOccurs="0"/>
<xs:element name="filial" type="tns:filial" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filial">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarVendaResponse">
<xs:sequence>
<xs:element name="return" type="tns:venda" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarVenda">
<xs:sequence>
<xs:element name="idVenda" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarVendaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterProdutosFilial">
<xs:sequence>
<xs:element name="idFilial" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterProdutosFilialResponse">
<xs:sequence>
<xs:element name="return" type="tns:produto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterClienteByCPF">
<xs:sequence>
<xs:element name="cpf" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterClienteByCPFResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarProduto">
<xs:sequence>
<xs:element name="produto" type="tns:produto" minOccurs="0"/>
<xs:element name="filial" type="tns:filial" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarProdutoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logar">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logarResponse">
<xs:sequence>
<xs:element name="return" type="tns:filial" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="statusVENDA">
<xs:restriction base="xs:string">
<xs:enumeration value="CONFIRMADA"/>
<xs:enumeration value="CANCELADA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>